<% include ../partials/header %>




<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center login-title">Registration （用户注册）
          <div class="text-danger"><%= message %></div>
        <div class="signup-wall">
          <form action="/login/signup" method="POST" class="form-signin">
            <br><input type="email" name="username" placeholder="Email 电子邮件" required="required" autofocus="autofocus" class="form-control"/>
            <br><input type="password" name="password" placeholder="Password 密码" required="required" class="form-control nomargin"/>
            <!-- <br><input type="email" name="email" placeholder="Email 电子邮件" required="required" class="form-control"/> -->
            <br><input type="text" name="displayName" placeholder="Name 名字" required="required" class="form-control"/>
            <br><button type="submit" class="btn btn-lg btn-primary btn-block">Register（提交注册）</button><span class="clearfix"></span>
          </form>
        </div>
        <br>
          <a href="/login" class="text-center new-account">log in</a>
      </h1>
    </div>
  </div>
</div>


<% include ../partials/footer %>