<% include ./partials/header_logined %>
<div class="container">
    
    <div class="card bg-faded col-sm-12">
            <div class="card-block">
        <h2>Arrange A Laundry Pick-Up</h2>
        <p>Have Us Come To You!</p>
        <a href="rder/place_order" class="btn btn-primary">place laundry order </a><br><br>
    </div>
    </div>

    <div class=" col-sm-12">
            <br>
        <img src="/img/laundry.jpg" class="img-fluid" alt="Responsive image">
        <br>
            <h1>NY Flushing Whitestone laundry service </h1>
            <big>
                    • Pickup & dropoff at your appointment  <br>
                    • No tips  <br>
                    • $<%= setting.lbPrice %> Per Pound for Wash & Fold  <br>
                    • $10 Minimum Order <br>
                    <!-- • Free Laundry Bag <br> -->
                    • No Extra Fee For Separation or Detergents <br>
                    • Only accept address in Flushing and Whitestone<br>
            </big>
        
            
           
    </div>
    









</div>
<% include ./partials/footer %>
