<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>china town buy</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/css/admin.css"> -->

  <link rel="stylesheet" href="/lib/fontawesome-free-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">
</head>
  

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

      <strong>
      <big>
          <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i> ChinaTownBuy.com</a></li>
              <li class="nav-item"><a class="nav-link" href="/feedback"><i class="far fa-comment-alt"></i> feedback</a></li>
              <li class="nav-item"><a class="nav-link" href="/signout"><i class="fas fa-sign-in-alt"></i> signout</a></li>
              <!-- <li class="nav-item"><span class="nav-link"><a class=" " href="/cn">中文</a> / <a class=" " href="/en">english</a></span></li> -->
            </ul>
      </big>      
      </strong>
      <hr />
      <ul class="nav">
            <li class="nav-item"><a class="nav-link disabled" href="/order/">laundrary:</a></li>
            <li class="nav-item"><a class="nav-link" href="/order/place_order">Place-Order</a></li>
            <li class="nav-item"><a class="nav-link" href="/order/history">Your-Order</a></li>
          </ul>
          <hr />