<% include ../partials/header %>

<h1>test </h1>
<a href="/log_in">login function</a><br>
<a href="/admin">admin function</a><br>
<a href="/admin/posts">posts function</a><br>
<a href="/cat">category function</a><br>
<a href="/post">single post function</a><br>






  
<% include ../partials/footer %>