<% include ./partials/header %>



<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <h2 class="text-center login-title">manager</h2>
          
          <ul class="user-details">
              
              
            </ul>

           
            <form action="/manager_login/login" method="GET" class="form-signin">
              <br> <input type="text" name="username"  required="required" autofocus="autofocus" class="form-control" autocomplete="off"/> 
              <br><input type="password" name="password"   required="required" class="form-control"  />
              <br><button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button><span class="clearfix"></span>
            </form><br>










      </div>
    </div>
  </div>

  

  <% include ./partials/footer %>
 