<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>china town buy</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/css/admin.css"> -->

  <link rel="stylesheet" href="/lib/fontawesome-free-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">
</head>
  

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
          <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i> ChinaTownBuy.com</a></li>
              <li class="nav-item"><a class="nav-link" href="/manager_login/logout">log-out</a></li>
              
            </ul>
      <hr />
      <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/manager_penel/users">user</a></li>
            <li class="nav-item"><a class="nav-link" href="/manager_penel/orders">orders</a></li>
            <li class="nav-item"><a class="nav-link" href="/manager_penel/products">product</a></li>
          </ul>
          <hr />